/** to-do list variables for color */
$color-white-primary: #f8faff;
$color-blue-primary: #1e90ff;


/** to-do list variable for global gap length */
$length-gap-huge: 48px;
$length-gap-large: 32px;
$length-gap-medium: 24px;
$length-gap-small: 16px;
$length-gap-tiny: 12px;
$length-gap-mini: 8px;
$length-gap-micro: 4px;
$length-gap-nano: 2px;


/** to-do list font size */
$font-size-large: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;

/** to-do list content  */
$content-dashboard-filter: 400px;
$content-dashboard-container: 450px;
